<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="gunicorn" 
                  arguments="--bind=0.0.0.0:8000 --workers=4 --timeout 300 --chdir /home/site/wwwroot app:app"
                  startupTimeLimit="120"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile="/home/LogFiles/gunicorn-stdout.log"
                  stderrLogEnabled="true"
                  stderrLogFile="/home/LogFiles/gunicorn-stderr.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="/home/site/wwwroot" />
        <environmentVariable name="WEBSITE_SITE_NAME" value="chatbotclima-b3dudba5fndahshv" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="chatbotclima-b3dudba5fndahshv.azurewebsites.net" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
