<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="FLASK_APP" value="app:app" />
    <add key="FLASK_ENV" value="production" />
    <add key="WEBSITES_PORT" value="8000" />
    <add key="SCM_DO_BUILD_DURING_DEPLOYMENT" value="1" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="bash" 
                  arguments="startup.sh"
                  startupTimeLimit="300"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="FLASK_APP" value="app:app" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="WEBSITES_PORT" value="8000" />
        <environmentVariable name="NLTK_DATA" value="D:\home\site\wwwroot\nltk_data" />
        <environmentVariable name="WEBSITE_SITE_NAME" value="chatbotclima-b3dudba5fndahshv" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="chatbotclima-b3dudba5fndahshv.azurewebsites.net" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
