<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="bash" 
                  arguments="startup.sh"
                  startupTimeLimit="120"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile="/home/LogFiles/gunicorn-stdout.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="/home/site/wwwroot" />
        <environmentVariable name="FLASK_APP" value="app:app" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="WEBSITES_PORT" value="8000" />
        <environmentVariable name="WEBSITE_SITE_NAME" value="chatbotclima-b3dudba5fndahshv" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="chatbotclima-b3dudba5fndahshv.azurewebsites.net" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
